<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Covid Vaccine Slot Finder</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">

    <!-- covid fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@500&display=swap" rel="stylesheet">

    <!-- covid icons -->
    <a href="https://icons8.com/icon/J1EQTrt9GYDp/coronavirus"></a>
    <a href="https://icons8.com/icon/pgnSCKzDIDuC/coronavirus"></a>

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    <!-- Covid Cards -->
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    
      <!-- Custom styles for this template -->
    <link href="css/album.css" rel="stylesheet">
 
  </head>

  <body>

   
        <!-- Nav Bar -->
  
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
          
            <a href="#inputPassword2" class="navbar-brand d-flex align-items-center">
              <i class="fas fa-syringe syringe_icon"></i>
              <strong class="navbar_title"> Vaccine Slot Finder</strong>
            </a>
          
  
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02">
              <span class="navbar-toggler-icon"></span>
          </button>
  
          <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerDemo02">
  
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/MdSalman216/Vaccine-Slot-Finder"><i class="fab fa-github" style="color: red;"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/" style="color: red;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.cowin.gov.in/home" style="color: red;">Co-Win</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.covid19india.org/" style="color: red;">Covid Tracker</a>
              </li>
            </ul>
  
          </div>
        </nav>

        

     
  