<%- include("partials/header") -%>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Covid Vaccine Slot Finder</h1>
          <p class="lead text-muted">Search by Pincode or by District Name</p>
          <p>
            <form class="form-inline" action="/" method="post">
              <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="inputPassword2" placeholder="Enter Pincode" name="Pincode">
              </div>
              <button type="submit" class="btn btn-warning btn-lg">Search</button>
            </form> 
          </p>
        </div>
      </section>

    </main>

    
<%- include("partials/footer") -%>

   
